@layer components {
    .buttons-group {
        display: flex;
        flex-direction: column;
        gap: var(--gap-buttons-group);
    }

    .add-to-cart-button, .cart-checkout-button {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        gap: var(--gap-add-to-cart-button);

        color: var(--bg-add-to-cart-button);
        box-shadow: 0 1.25rem 3.125rem -1.25rem rgb(255 126 27 / 25%);
        background-color: var(--bg-add-to-cart-button);
        border-radius: 0.625rem;
        padding-block: var(--padding-block-add-to-cart-button);
    }

    .description-button {
        display: inline-block;
    }

    .cart-icon, .description-button, .cart-checkout-button {
        color: var(--bg-cart-icon);
    }

    .cart-checkout-button {
        inline-size: 100%;
        color: var(--fc-cart-checkout-button)
    }

    @media (min-width: 48em) {
        .buttons-group {
            flex-direction: row;
        }
    }

    @media (min-width: 64em) {
        .add-to-cart-button {
            flex: 1.5;
        }
    }
}