@layer components {
    .cart-checkout-button[hidden] {
        display:none;
    }

    .cart-dialog {
        display: none;
        inset: auto;
    }

    .cart-dialog::backdrop {
        background: transparent;
    }

    .cart-dialog[open]{
        display: block;
        position: absolute;
        inset-block-start: 5rem;
        inset-inline: 0.5rem;
        inline-size: min((100% - 1rem), 22.5rem);
        block-size: 16rem;
        background-color: var(--bg-cart-dialog);
        border-radius: 0.625em;
        box-shadow: 0 1.25em 3.125em -1.25em rgb(29 32 38 / 0.1);
    }

    .cart-header {
        padding-inline: 0.75rem;
        padding-block: var(--padding-block-cart-header);
        border-bottom: 1px solid var(--bg-border);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .cart-body {
        display: grid;
        gap: var(--gap-cart-body);
        padding-inline: var(--padding-inline-cart-body);
        padding-block: var(--padding-block-cart-body);
    }

    .cart-item-details {
        flex: 1;
    }

    .cart-delete-button {
        flex-shrink: 0;
    }

    .cart-name {
        color: var(--fc-cart-title);
    }

    .cart-empty-message {
        text-align: center;
        color: var(--fc-cart-empty-message);
        padding-block-start: var(--padding-block-start-cart-empty-message);
    }

    .cart-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--gap-cart-content);
    }

    .cart-product-title, .cart-product-price, .cart-product-quantity, .cart-operation-math {
        color: var(--fc-cart-description);
    }

    .cart-delete-button {
        color: var(--bg-delete-button);
    }

    .cart-product-image {
        border-radius: 0.25rem;
    }

    @media (min-width: 48em){
        .cart-dialog[open]{
            position: absolute;

            inset-block-start: 5.6rem;

            inset-inline-start: auto;
            inset-inline-end: var(--inset-inline-end-cart-dialog);
        }
    }
}