@layer components {
  .site-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .avatar {
    inline-size: 1.5rem;
    block-size: 1.5rem;
  }

  .avatar-button {
    border-radius: 50%;
  }

  .mobile-nav-button {
    color: var(--bg-icon-menu);
  }


  .cart-button {
    position: relative;
    color: var(--bg-icon-cart);
  }

  .cart-badge {
    position: absolute;
    inset-block-start: -0.5rem;
    inset-inline-end: -0.5rem;

    min-inline-size: 1.25rem;
    block-size: 1rem;

    padding-inline: 0.25rem;
    border-radius: 50%;

    display: grid;
    place-items: center;

    background-color: var(--bg-cart-badge);
    color: var(--fc-cart-badge);

    font-size: 0.625rem;
    font-weight: var(--fw-bold);
  }

  .cart-badge[hidden] {
    display: none;
  }

  .site-logo {
    color: var(--bg-icon-logo);
  }

  .desktop-nav {
    display: none;
  }

  .mobile-nav[open]::backdrop {
    background: rgb(0 0 0 / 0.75);
  }

  .mobile-nav[open] {
    display: block;
  }

  .mobile-nav-content {
    position: fixed;
    inset-block: 0;
    inset-inline-start: 0;
    inline-size: min(70vw, var(--max-inline-size-mobile-nav-content));
    transform: translate3d(-100%, 0, 0);
    transition: transform 300ms ease-out;
  }

  .mobile-nav .mobile-nav-content {
    block-size: 100vh;
    display: flex;
    flex-direction: column;
    gap: var(--gap-mobile-nav-content);
    background-color: var(--bg-color-primary);
  }

  .mobile-nav[open].animate .mobile-nav-content {
    transform: translate3d(0, 0, 0);
  }

  .mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-mobile-nav-list);
  }

  .mobile-nav-list a {
    color: var(--fc-mobile-nav-list);
  }



  @media (min-width: 48em) {
    .site-header {
      block-size: 5.125rem;
      border-block-end: 0.0625em solid var(--bg-border);
    }

    .avatar {
      inline-size: 3.125rem;
      block-size: 3.125rem;
    }
  }

  @media (min-width: 64em) {
    .mobile-nav-button {
      display: none;
    }

    .desktop-nav {
      display: block;
    }

    .desktop-nav-list {
      display: flex;
      flex-direction: row;
      gap: var(--gap-desktop-nav-list);
      align-items: center;
      color: var(--fc-desktop-nav-list);
    }

    .desktop-nav-list a {
      display: flex;
      align-items: center;
      block-size: 100%;
      position: relative;
    }
  }
}
