@layer states {
    .add-to-cart-button:hover {
        background-color:  var(--bg-add-to-cart-button-hover);
    }

    .add-to-cart-button:focus-visible {
        outline: 0.187em solid currentColor;
        outline-offset: 0.25em;
    }   
}