@layer states {
.avatar:hover {
    border-radius: 50%;
    border: 0.125em solid var(--bg-avatar-hover);
}

  @media (min-width: 64em) {
    .desktop-nav a:hover::after {
      content: "";
      position: absolute;

      inset-inline: 0;
      inset-block-end: -2.9rem; 

      block-size: 0.25rem;
      background-color: var(--bg-desktop-nav-list-hover);
    }
  }
}
