@layer states {
    .gallery-button:hover, .lightbox-gallery-button:hover {
        color: var(--bg-gallery-button-hover);
    }

    .gallery-button:focus-visible, .lightbox-gallery-button:focus-visible {
        outline: 0.187em solid currentColor;
        outline-offset: 0.25em;
    }
}