@layer states {
  .close-button-menu:hover, .cart-close-button:hover {
    color: var(--bg-close-icon-hover);
  }

  .close-button-menu:focus-visible, .cart-close-button:focus-visible {
    outline: 0.187em solid currentColor;
    outline-offset: 0.25em;
  }

  @media (min-width: 64em) {
    .lightbox-close-button:hover {
      color: var(--bg-lightbox-close-icon-hover);
    }

    .lightbox-close-button:focus-visible {
      outline: 0.187em solid currentColor;
      outline-offset: 0.25em;
    }
  }
}
