@layer states {
  .close-button-menu:hover {
    color: var(--bg-close-icon-hover);
  }

  .close-button-menu:focus-visible {
    outline: 0.187em solid currentColor;
    outline-offset: 0.25em;
  }
}
