@layer tokens.semantics {
    :root {
        --bg-color-primary: var(--white);

        --bg-icon-menu: var(--grey-500);
        --bg-icon-cart: var(--grey-500);
        --bg-icon-logo: var(--grey-950);

        --bg-gallery-button: var(--grey-950);
        --bg-gallery-button-hover: var(--orange-500);

        --fc-product-company: var(--grey-500);
        --fc-item-title: var(--grey-950);
        --fc-product-description: var(--grey-500);
        --fc-current-price: var(--grey-950);

        --bg-discount: var(--grey-950);
        --fc-discount: var(--white);
        --fc-original-price: var(--grey-500);

        --bg-quantity-selector: var(--grey-50);
        --bg-quantity-button: var(--orange-500);
        --bg-quantity-button-hover: var(--orange-300);

        --bg-cart-icon: var(--grey-950);
        --bg-add-to-cart-button: var(--orange-500);
        --bg-add-to-cart-button-hover: var(--orange-300);
    }
}