@layer tokens.semantics {
  :root {
    --gap-cluster-xs: var(--spacing-200);
    --gap-cluster-sm: var(--spacing-300);

    --gap-grid-lg: var(--spacing-300);

    --margin-block-start-box-xs: 1.188rem; /* 19px */
    --padding-block-end-box-xs: var(--spacing-300);
    --margin-inline-box-xs: var(--spacing-300);

    --padding-block-end-box-sm: 4.375rem; /* 70px */
    --padding-inline-box-sm: var(--spacing-300);
    --padding-block-start-box-sm: 0;

    --padding-block-end-box-md: var(--spacing-300);
    --padding-block-start-box-md: var(--spacing-300);
    --padding-inline-box-md: var(--spacing-300);

    --inset-inline-start-previous-button: var(--spacing-200);
    --inset-inline-end-next-button: var(--spacing-200);

    --gap-buttons-group: var(--spacing-200);

    --stack-xs: var(--spacing-200);
    --stack-sm: var(--spacing-400);

    --gap-price-group: var(--spacing-200);

    --padding-inline-quantity-selector: var(--spacing-200);
    --padding-block-quantity-selector: var(--spacing-200);

    --gap-add-to-cart-button: var(--spacing-200);

    --padding-block-add-to-cart-button: var(--spacing-200);
    --padding-inline-add-to-cart-button: var(--spacing-1300);

    --gap-mobile-nav-content: var(--spacing-700);
    --gap-mobile-nav-list: var(--spacing-300);

    --max-inline-size-mobile-nav-content: 15.625rem; /* 250px */
  }

  @media (min-width: 48em) {
    :root {
      --margin-block-start-box-xs: 1.75rem; /* 28px */
      --padding-block-end-box-xs: var(--spacing-400);
      --margin-inline-box-xs: var(--spacing-1000);

      --margin-inline-box-lg: var(--spacing-1000);
      --padding-block-start-box-lg: var(--spacing-600);
      --margin-block-end-box-lg: 4.375rem; /* 70px */

      --gap-grid-lg: var(--spacing-600);

      --padding-block-start-gallery-wrapper: var(--spacing-600);

      --padding-block-end-box-sm: 0;
      --padding-inline-box-sm: 0;

      --gap-price-group: var(--spacing-300);
      --gap-product-pricing: var(--spacing-100);

      --gap-buttons-group: var(--spacing-100);

      --stack-xs: var(--spacing-300);
      --stack-sm: var(--spacing-300);

      --max-inline-size-mobile-nav-content: 18.75rem; /* 300px */

      --padding-block-end-box-md: var(--spacing-600);
      --padding-block-start-box-md: var(--spacing-600);
      --padding-inline-box-md: var(--spacing-1000);
    }
  }

  @media (min-width: 64em) {
    :root {
      --margin-block-start-box-xs: 1.75rem; /* 28px */
      --padding-block-end-box-xs: var(--spacing-400);
      --margin-inline-box-xs: 10.3125rem; /* 165px */

      --gap-cluster-xs: var(--spacing-700);
      --gap-desktop-nav-list: var(--spacing-400);

      --gap-grid-lg: var(--spacing-1600);

      --gap-product-gallery: var(--spacing-400);
      --gap-thumbnail-list: var(--spacing-400);

      --margin-inline-box-lg: 13.125rem; /* 210px */
      --padding-block-start-box-lg: var(--spacing-1200);
      --margin-block-end-box-lg: var(--spacing-1600);

      --gap-buttons-group: var(--spacing-200);

      --stack-sm: var(--spacing-400);

      --gap-price-group: var(--spacing-200);


      --gap-lightbox-content: var(--spacing-500);
      --gap-lightbox-thumbnail-list: var(--spacing-300);
      --gap-lightbox: var(--spacing-300);

      --inset-inline-start-lightbox-previous-button: calc(var(--spacing-400) * -1);
      --inset-inline-end-lightbox-next-button: calc(var(--spacing-400) * -1);
    }
  }
}
