@layer tokens.primitives {
  :root {
    /* Typography */
    --primary-ff: "Kumbh Sans", sans-serif;

    --text-preset-1-size: 2.75rem; /* 44px */
    --text-preset-1-lh: 3rem; /* 48px */
    --text-preset-1-ls: 0;

    --text-preset-2-size: 1.75rem; /* 28px */
    --text-preset-2-lh: 2rem; /* 32px */
    --text-preset-2-ls: 0;

    --text-preset-3-size: 1rem; /* 16px */
    --text-preset-3-lh: 1.625rem; /* 26px */
    --text-preset-3-ls: 0;

    --text-preset-4-size: 0.9375rem; /* 15px */
    --text-preset-4-lh: 1.625rem; /* 26px */
    --text-preset-4-ls: 0;

    --text-preset-5-size: 0.8125rem; /* 13px */
    --text-preset-5-lh: 1rem; /* 16px */
    --text-preset-5-ls: 0.125rem; /* 2px */

    --text-preset-6-size: 0.75rem; /* 12px */
    --text-preset-6-lh: 0.9375rem; /* 15px */
    --text-preset-6-ls: 0.116rem; /* 1.856px */

    --text-preset-7-size: 1.125rem; /* 18px */
    --text-preset-7-lh: 1.625rem; /* 26px */
    --text-preset-7-ls: 0;

    --fw-regular: 400;
    --fw-bold: 700;
  }
}
