@layer base {
  html {
    background-color: var(--bg-color-primary);
    font-family: var(--primary-ff);
    -webkit-text-size-adjust: 100%;
  }

  html,
  body {
    min-block-size: 100vh;
    display: flex;
    flex-direction: column;
  }

  footer {
    margin-top: auto;
  }

  svg,
  img {
    display: block;
  }

  dialog {
    margin: 0;
    padding: 0;
    border: none;
    inline-size: 100%;
    block-size: 100vh;
    max-inline-size: none;
    max-block-size: none;
    background: transparent;
    overflow: hidden;
  }

  button {
    cursor: pointer;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    border: 0;
    background: transparent;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input {
    cursor: pointer;
    border: 0.125em solid transparent;
    outline: none;
    transition: border-color 0.2s ease;
  }

  @supports (min-block-size: 100dvh) and (block-size: 100dvh) {
    html,
    body {
      min-block-size: 100dvh;
    }

    dialog {
      block-size: 100dvh;
    }
  }
}
